<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title></title>
<span th:substituteby="commons :: common-css"></span>
</head>
<body >
	<div id="headerbar" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>


				<div class="nav-collapse collapse">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>